.searсh {
    display: flex;
    justify-content: center;
    padding: 0.5em 0 0.5em 0;
}

.searсh input {
    width: 50%;
    height: 40px;
    outline: none;
    border: 1px inset rgb(109, 189, 255);
    font-size: 24px;
    color: rgb(32, 104, 248);
}

.searсh button {
    margin-left: 0.5em;
    width: 4em;
    font-size: 20px;
    background: rgb(109, 189, 255, 0);
    color: rgb(32, 104, 248);
    border: 1px solid rgb(109, 189, 255);
    cursor: pointer;
}