.searсh {
    display: flex;
    justify-content: center;
    padding: 0.5em 0 0.5em 0;
}

.searсh input {
    width: 50%;
    height: 40px;
    outline: none;
    border: 3px inset violet;
    font-size: 24px;
    color: black;
}

.searсh button {
    margin-left: 0.5em;
    width: 4em;
    font-size: 20px;
}