.footer {
    grid-area: f;
    background-color: wheat;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 30%;
}

.footer p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 30%;
}

.footer img {
    height: 300px;
}
