@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*
{
  font-family: 'Raleway', sans-serif;
}
.app-wrapper {
  margin: 0 auto;
  max-width: 1920px;
  display: grid;
  grid-template-areas:
    'h h'
    'n c'
    'f f';
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 12fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(47, 243, 243);
}




